@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Vollkorn:wght@400;700&display=swap');
* {
    margin: 0;
}

:root {
    --principal-color: #252B31;
    --principal-light-color: #374048;
    --adjacent-color: #D49C6B;
    --adjacent-light-color: #FFD2AA;
    --light: #F6FAFB;
    --open-sans: 'Open Sans', sans-serif;
    --vollkorn: 'Vollkorn', serif;
}

.linkshome {
    background: var(--light);
    height: 70vh;
    margin-top: -20vh;
}

.title-linkshome h1 {
    text-align: center;
    font-size: 3.75rem;
    font-family: var(--vollkorn);
}

.container-box-linkshome {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 15vh 7vh;
}

.box-linkshome {
    width: 250px;
    height: 150px;
    text-align: center;
}

.box-linkshome a {
    text-decoration: none;
    color: var(--principal-color)
}

.box-linkshome img {
    width: 250px;
    height: 70px;
}

.box-text-linkshome span {
    font-size: 1.5rem;
    font-family: var(--open-sans);
}

.bg-black{
    background-color: var(--principal-color);
}

.tl-light{
    color: var(--light);
}