@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Vollkorn:wght@400;700&display=swap');
* {
    margin: 0;
}

:root {
    --principal-color: #252B31;
    --principal-light-color: #374048;
    --adjacent-color: #D49C6B;
    --adjacent-light-color: #FFD2AA;
    --light: #F6FAFB;
    --open-sans: 'Open Sans', sans-serif;
    --vollkorn: 'Vollkorn', serif;
}

.back{
    margin: 5vh 2vw;
    color: var(--principal-color);
    transition: 0.5s ease;
}

.back:hover{
    color: var(--adjacent-color)
}

.linkshome-single {
    background: var(--light);
    height: 100vh;
    margin-top: 15vh;
}

.title-linkshome h1 {
    text-align: center;
    font-size: 3.75rem;
    font-family: var(--vollkorn);
}

.container-box-linkshome {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 15vh 7vh;
}

.box-linkshome {
    width: 300px;
    height: 200px;
    text-align: center;
    margin-bottom: 20vh;
}

.box-linkshome:hover{
    background-color: rgb(37, 43, 49, 0.25);
    transition: 1s ease;
}

.box-linkshome a {
    text-decoration: none;
    color: var(--principal-color)
}

.box-linkshome img{
    min-width: 250px;
    min-height: 130px;
}

.box-text-linkshome span {
    font-size: 1.5rem;
    font-family: var(--open-sans);
}