@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Vollkorn:wght@400;700&display=swap');
* {
    margin: 0;
}

:root {
    --principal-color: #252B31;
    --principal-light-color: #374048;
    --adjacent-color: #D49C6B;
    --adjacent-light-color: #FFD2AA;
    --light: #F6FAFB;
    --open-sans: 'Open Sans', sans-serif;
    --vollkorn: 'Vollkorn', serif;
}

.contactform-container{
    background-color: var(--principal-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactform-title{
    padding-top: 5vh;
    text-align: center;
    color: var(--light);
    font-family: var(--vollkorn);
}

.contactform-title h1{
    font-size: 3.75rem;
}

.contactform-title h2{
    padding-top: 4vh;
    font-size: 1.8rem;
    width: 45vw;
}

/* FORM */

.contactform-container-form {
    width: 75%;
    background-color: var(--principal-light-color);
    margin-top: 15vh;
    height: 70vh;
    margin-bottom: 5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.contactform-header{
    padding: 5.5vh 2vw;  
    font-size: 1.8rem;
    color: var(--light);
    font-family: var(--vollkorn);  
}

.contactform-container-form form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contactform-form-input-single{
    display: flex;
    max-width: 40%;
    flex-direction: column;
    padding: 4vh 3vw;
    flex-grow: grow;
}

.contactform-form-input-single label{
    font-family: var(--open-sans);
    font-size: 1.5rem;
    color: var(--light);
    padding-bottom: 2vh;
}

.contactform-form-input-single input{
    height: 7vh;
    border-radius: 5px;
    border: none;
}