@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Vollkorn:wght@400;700&display=swap');
* {
    margin: 0;
}

:root {
    --principal-color: #252B31;
    --principal-light-color: #374048;
    --adjacent-color: #D49C6B;
    --adjacent-light-color: #FFD2AA;
    --light: #F6FAFB;
    --open-sans: 'Open Sans', sans-serif;
    --vollkorn: 'Vollkorn', serif;
}

.contactform-container{
    background-color: var(--principal-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactform-title{
    padding-top: 5vh;
    text-align: center;
    color: var(--light);
    font-family: var(--vollkorn);
}

.contactform-title h1{
    font-size: 3.75rem;
}

.contactform-title h2{
    padding-top: 4vh;
    font-size: 1.8rem;
    width: 45vw;
}

/* FORM */

.contactform-container-form {
    width: 75%;
    background-color: var(--principal-light-color);
    margin-top: 15vh;
    height: 70vh;
    margin-bottom: 5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.contactform-header{
    padding: 5.5vh 2vw;  
    font-size: 1.8rem;
    color: var(--light);
    font-family: var(--vollkorn);  
}

.contactform-form-input-single label{
    font-family: var(--open-sans);
    font-size: 1.5rem;
    color: var(--light);
    padding-bottom: 2vh;
}

.contactform-form-input-single input{
    height: 7vh;
    border-radius: 5px;
    border: none;
    width: 30vw;
    font-family: var(--open-sans);
    padding-left: 1vw;
    font-size: 15px;
}

.contactform-form-input-single input::placeholder{
    font-family: FontAwesome;
    font-size: 20px;
}

.message textarea{
    padding-left: 1vw;
}

.message textarea::placeholder{
    font-family: FontAwesome;
    font-size: 20px;
    padding-top: 1vh;
}

.contactform-container-form-inside form{
    display: flex;
    flex-flow: row wrap;
}

.contactform-form-input-single{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-left: 7%;
}

.message{
    margin-left: 10vw;
}

.message textarea{
    width: 30vw;
    height: 28vh;
    resize: none;
    border: none;
    border-radius: 5px;
}

.contactform-form-buttonsubmit{
    justify-content: center;
    margin-left: 33%;
}

.contactform-form-buttonsubmit button{
    display: flex;
    padding: 0.3vw 0.7vw;
    border: solid 1px var(--adjacent-color);
    border-radius: 5px;
    background-color: var(--adjacent-color);
    width: 25vw;
    align-items: center;
    justify-content: center;
    height: 6vh;
    font-family: var(--open-sans);
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--light);
    cursor: pointer;
}

.contactform-form-buttonsubmit button:hover{
    color: #5E6668;
    transition: 0.5s ease;
}